.rmd-program-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.rmd-popup-content {
  padding: 20px;
}


.rmd-error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.rmd-popup-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.rmd-cancel-button,
.rmd-submit-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.rmd-cancel-button {
  background-color: #f5f5f5;
  color: #333;
}

.rmd-submit-button {
  background-color: #007bff;
  color: #fff;
}
