.adm_program-list-container {
  padding: 20px;
}

.adm_program-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.adm_program-list .card {
  width: 100%;
}

/* h2 {
  margin-bottom: 20px;
}
 */



@media (max-width: 1200px) {
  .adm_program-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .adm_program-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .adm_program-list {
    grid-template-columns: 1fr;
  }
}