.action-button {
    background-color: #64b5f6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    display: block;
  }
  
  .action-button:hover {
    background-color: #42a5f5;
  }
  