
  /* 페이지 제목 섹션 */
  .title-section-pro1 {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .page-title-pro1 {
    font-size: 1.8rem;
    color: #333;
  }
  
  /* 버튼 컨테이너 */
  .button-container-pro1 {
    display: flex;
    justify-content: flex-end; /* 버튼들을 오른쪽 정렬 */
    gap: 10px; /* 버튼 간의 간격 */
    position: fixed; /* 화면 하단에 고정 */
    bottom: 20px; /* 하단 여백 */
    right: 20px; /* 오른쪽 여백 */
  }
  
  /* 취소 버튼 */
  .cancel-button-pro1 {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #b0b0b0; /* 회색 */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button-pro1:hover {
    background-color: #b2b2b2; /* 어두운 회색 */
  }
  
  /* 등록 버튼 */
  .submit-button-pro1 {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #d32f2f; /* 빨간색 */
    color: white;
    cursor: pointer;
    
  }
  
  .submit-button:hover {
    background-color: #b71c1c; /* 어두운 빨간색 */
  }
  
