/* 컨테이너 스타일 */
.header-container-pro1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c62828; /* 네비게이션 바 배경색 */
  font-size: 16px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}

/* 로고 스타일 */
.header-left-pro1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.header-left-pro1 a {
  text-decoration: none;
  color: white;
}

.header-left-pro1 a:hover {
  color: #ffccbc;
}

/* 오른쪽 버튼 컨테이너 스타일 */
.header-right-pro1 {
  display: flex;
  gap: 10px; /* 버튼 간의 간격 */
}

/* 버튼 스타일 */
.header-btn-pro1 {
  padding: 8px 16px;
  background-color: #c62828; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.header-btn-pro1:hover {
  background-color: #841f1f; /* 호버 시 더 어두운 초록색 */
}
